### ETL Aggregating by Country to Djean Axt Swiss Company
### Author : Anderson Amaral , email : luis.anderson.sp@gmail.com 
### LinkedIn: https://www.linkedin.com/in/andersonlamaral/

In [46]:
import pandas as pd

Below I read the Excel file into a Pandas DataFrame. Realise I have delete manually the first 3 columns in order to Pandas read correctly the file. If it always happen like that, I can add some stuff to always delete these 3 rows automatically

Obs: *At the same time I am reading a file, I am also calling it df *

In [47]:
df = pd.read_excel('/home/anderson/Desktop/Djean_project/ander.xlsx', sheetname='WorldWide Tickets', header=0)

Now , let's gonna check the first 5 rows in order to see if everything is ok.

In [48]:
df.head(5)

,N° Incident,Open Date & Time,Assign To,Status,Customer,End Customer,N° Dossier Client,Country,HUB,Open By,...,Engineer,Couverture / Délais,Date limite,Etat,Groupe de l'opérateur,Close Date & Time,IB_SLA-GTI,IB_SLA-GTR,Serial #,IB_SLA-GBL
0,64381,11/24/2016 4:03:37 PM,CHERRIER,IN PROCESS,IBM - SPM,SPM,706012ZYH0,France,Europe,MAGIC,...,NaN,J+2,11/26/2016 4:03:37 PM,O,EXTERNAL_SUPPORT,NaN,NOK,NaN,0534AL5882,NOK
1,64380,11/24/2016 4:03:31 PM,OBOUCHAM,WAITING CLIENT,AXWAY - AXWAY,AXWAY,NC,France,Europe,OBOUCHAM,...,NaN,J+1,11/25/2016 4:03:31 PM,O,DISPATCH WESTERN EUROPE,NaN,NOK,NaN,1R5CL4J,NOK
2,64379,11/24/2016 3:48:53 PM,STEPHAN,WAITING CLIENT,ASLEASE - CDISCOUNT,CDISCOUNT,nc,France,Europe,STEPHAN,...,NaN,H+4 SITE 24,11/24/2016 7:48:53 PM,O,DISPATCH WESTERN EUROPE,NaN,NOK,NaN,NaN,NOK
3,64378,11/24/2016 3:46:22 PM,MAGIC,OPENED,NaN,NaN,706012H3ZS,France,Europe,MAGIC,...,NaN,NaN,NaN,O,EXTERNAL_SUPPORT,NaN,NOK,NOK,NaN,NOK
4,64377,11/24/2016 3:39:40 PM,CHERRIER,SUPPLY CHAIN,IBM - SPM,SPM,706012HZ05,France,Europe,MAGIC,...,NaN,H+4 SITE 24,11/24/2016 7:39:40 PM,O,EXTERNAL_SUPPORT,NaN,NOK,NaN,H584KY1,NOK

First, we should see how many different countries we have on this file :

In [49]:
df['Country'].unique()

array(['France', 'Italy', 'Romania', 'Spain', 'Brazil', 'Switzerland',
       'United Arab Emirates', 'Libyan Arab Jamahiriya', 'Morocco',
       'Thailand', 'Poland', 'Croatia', 'Portugal', 'Japan', 'Malaysia',
       'Australia', 'Canada', 'United States', 'Germany', 'Luxembourg',
       'Netherlands', 'Pakistan', 'Bulgaria', 'Chile', 'Algeria',
       'Austria', nan, 'Turkey', 'Honduras', 'Hungary',
       'Bosnia and Herzegovina', 'Belgium', 'India', 'Macedonia',
       'Tunisia', 'Albania', 'Singapore', 'Hong Kong', 'China',
       'United Kingdom', 'Bangladesh', 'Guatemala', 'Denmark',
       'Tanzania, United Republic of', 'Mongolia', 'Bahrain', 'Indonesia',
       'Lebanon', 'Egypt', 'Oman', 'Saudi Arabia', 'Philippines',
       'Central African Republic', 'Russian Federation', 'Viet Nam',
       'Qatar', 'Colombia', 'Afghanistan', 'Ghana', 'South Africa',
       'Serbia', 'Mozambique', 'Botswana', 'Yemen', 'Kenya',
       'Burkina Faso', 'New Caledonia', 'Brunei Darussalam', 'Greece',
       'Sweden', 'Moldova, Republic of', 'Czech Republic', 'Korea South',
       'New Zealand', 'Iraq', 'Slovakia', 'Nigeria', 'Mexico',
       'Seychelles', 'Zimbabwe', 'Kuwait', 'Finland', 'Mali'], dtype=object)

In [50]:
numbercountries = df['Country'].nunique()
print("We have",numbercountries,"different countries")

We have 82 different countries

Now, let's gonna check some details of the dataframe "df"

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 25 columns):
N° Incident              999 non-null object
Open Date & Time         999 non-null object
Assign To                999 non-null object
Status                   999 non-null object
Customer                 994 non-null object
End Customer             997 non-null object
N° Dossier Client        867 non-null object
Country                  996 non-null object
HUB                      996 non-null object
Open By                  997 non-null object
Brend                    996 non-null object
Model                    996 non-null object
Component                996 non-null object
Planning Date            526 non-null object
Partner                  527 non-null object
Engineer                 528 non-null object
Couverture / Délais      995 non-null object
Date limite              987 non-null object
Etat                     998 non-null object
Groupe de l'opérateur    997 non-null object
Close Date & Time        597 non-null object
IB_SLA-GTI               972 non-null object
IB_SLA-GTR               27 non-null object
Serial #                 640 non-null object
IB_SLA-GBL               995 non-null object
dtypes: object(25)
memory usage: 195.4+ KB

Now, I am gonna create a for loop to generate dataframes based on the countries names! That will be very handy for the user (my friend, by the way)!!

In [52]:
d = {}
for name in df['Country']:
    d[name] = df[df['Country'] == name]

Very nice the for loop above, isn't? Let's see if it works, by calling any country.Below I will be calling Brazil then later France, the first  3 rows of each new dataframe I just made for every country using th for loop aforementioned :

In [53]:
d['Brazil'].head(3)

,N° Incident,Open Date & Time,Assign To,Status,Customer,End Customer,N° Dossier Client,Country,HUB,Open By,...,Engineer,Couverture / Délais,Date limite,Etat,Groupe de l'opérateur,Close Date & Time,IB_SLA-GTI,IB_SLA-GTR,Serial #,IB_SLA-GBL
12,64369,11/24/2016 1:05:26 PM,GRAMOS,WAITING CLIENT,PROTEGE - PROTEGE,PROTEGE - PROTEGE,NC,Brazil,Americas,GRAMOS,...,NaN,H+6 REPAR 24,11/24/2016 7:05:26 PM,O,CALL,NaN,NaN,NOK,NaN,NOK
15,64366,11/24/2016 12:51:04 PM,GRAMOS,PLANNING,PROTEGE - PROTEGE,PROTEGE - PROTEGE,355369,Brazil,Americas,GRAMOS,...,Ozeas Santos,BEST_EFFORT,2016-01-12 12:51:04,O,CALL,NaN,OK,NaN,NaN,OK
77,64304,11/23/2016 1:38:32 PM,GRAMOS,WAITING CLIENT,PROTEGE - PROTEGE,PROTEGE - PROTEGE,NC,Brazil,Americas,GRAMOS,...,NaN,H+6 REPAR 24,11/23/2016 7:53:55 PM,O,CALL,NaN,NaN,NOK,NaN,NOK

In [54]:
d['France'].head(3)

,N° Incident,Open Date & Time,Assign To,Status,Customer,End Customer,N° Dossier Client,Country,HUB,Open By,...,Engineer,Couverture / Délais,Date limite,Etat,Groupe de l'opérateur,Close Date & Time,IB_SLA-GTI,IB_SLA-GTR,Serial #,IB_SLA-GBL
0,64381,11/24/2016 4:03:37 PM,CHERRIER,IN PROCESS,IBM - SPM,SPM,706012ZYH0,France,Europe,MAGIC,...,NaN,J+2,11/26/2016 4:03:37 PM,O,EXTERNAL_SUPPORT,NaN,NOK,NaN,0534AL5882,NOK
1,64380,11/24/2016 4:03:31 PM,OBOUCHAM,WAITING CLIENT,AXWAY - AXWAY,AXWAY,NC,France,Europe,OBOUCHAM,...,NaN,J+1,11/25/2016 4:03:31 PM,O,DISPATCH WESTERN EUROPE,NaN,NOK,NaN,1R5CL4J,NOK
2,64379,11/24/2016 3:48:53 PM,STEPHAN,WAITING CLIENT,ASLEASE - CDISCOUNT,CDISCOUNT,nc,France,Europe,STEPHAN,...,NaN,H+4 SITE 24,11/24/2016 7:48:53 PM,O,DISPATCH WESTERN EUROPE,NaN,NOK,NaN,NaN,NOK

It works!! Now, I just need to make every dataframe turn into a Excel file or csv file!!

Here I have picked up 5 countries which dataframe are going to be printed as csv into the folder "Countries"

In [55]:
d['Brazil'].to_csv('/home/anderson/Desktop/Djean_project/Countries/Brazil.csv' ,sep=';',index=False, encoding='utf-8')

In [64]:
d['France'].to_csv('/home/anderson/Desktop/Djean_project/Countries/France.csv' ,sep=';',index=False, encoding='utf-8')

In [65]:
d['Italy'].to_csv('/home/anderson/Desktop/Djean_project/Countries/Italy.csv' ,sep=';',index=False, encoding='utf-8')

In [67]:
d['Switzerland'].to_csv('/home/anderson/Desktop/Djean_project/Countries/Switzerland.csv' ,sep=';',index=False, encoding='utf-8')

"Now, you just need to copy and paste the same code above, for every country of you interest, and automatically a dataframe will be generate everytime you run this file"